/* ----------------------------------- */
/* BASIC SETUP */
/* ----------------------------------- */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  background-color: #fff;
  color: #555;
  font-family: 'Satisfy', cursive;

  font-size: 20px;
  font-weight: 300;
  text-rendering: optimizeLegibility;
  overflow-x: hidden;
}

.clearfix {zoom: 1}
.clearfix:after {
  content: '.';
  clear: both;
  display: block;
  height: 0;
  visibility: hidden;
}

/* ----------------------------------- */
/* REUSABLE COMPONENTS */
/* ----------------------------------- */

.row {
  max-width: 1140px;
  margin: 0 auto;
}

section {
  padding: 80px 0;
}

.box {
  padding: 1%;
}
/* ----- HEADINGS ----- */


h1,
h2,
h3 {
  font-weight: 100;
}

h1 {
  margin-top: 0;
  margin-bottom: 20px;
  color: #fff;
  font-size: 240%;
  word-spacing: 4px;
  letter-spacing: 1px;
}

h2 {
  font-size: 180%;
  word-spacing: 2px;
  text-align: center;
  margin-bottom: 30px;
  letter-spacing: 1px;
}

h3 {
  font-size: 110%;
  margin-bottom: 15px;
}

/* ----- PARAGRAPHS ----- */

.long-copy {
  line-height: 145%;
  width: 70%;
  margin-left: 15%;
}

.box p {
  font-size: 90%;
  line-height: 145%;
  font-family: arial;
}

/* ----------------------------------- */
/* INTRO SECTION */
/* ----------------------------------- */

#intro h1, #intro-text, .frame {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

#portrait {
  width: 200px;
  max-width: 80vw;
  border-radius: 200px;
  border: solid white 3px;
}

#intro p {
  text-align: center;
  color: white;
}

#intro:first-of-type img {
  max-width: 95vw;
}

#intro:last-of-type img {
  max-width: 60vw;
}

#intro div p {
  margin: auto;
  width: 500px;
  max-width: 90vw;
}

/* ----------------------------------- */
/* PROJECT SECTION */
/* ----------------------------------- */

.project-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.project {
  width: 65vw;
  height: 20vh;
  border: solid black 2px;
  border-radius: 10px;
  margin-bottom: 20px;
  display: none;
}

/* ----------------------------------- */
/* FOOTER */
/* ----------------------------------- */

footer {
  padding: 10px;
}

footer ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
  padding: 0 50px;
}


li a:link,
li a:visited {
  text-decoration: none;
  font-size: 90%;
  border-radius: 20px;
  transition: background-color 1s;
}

li a:hover,
li a:active {
  border-radius: 20px;
  background-color: antiquewhite;
}

li.active {
  border-radius: 20px;
  background-color: pink;
}

li a {
  padding: 0 5px;
  color: #000;
}

/* ----------------------------------- */
/* CONTACT */
/* ----------------------------------- */

#snow{
	background: none;
	font-family: Androgyne;
	background-image: url('http://www.wearewebstars.dk/codepen/img/s1.png'), url('http://www.wearewebstars.dk/codepen/img//s2.png'), url('http://www.wearewebstars.dk/codepen/img//s3.png');
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
	z-index:1;
	-webkit-animation: snow 10s linear infinite;
	-moz-animation: snow 10s linear infinite;
	-ms-animation: snow 10s linear infinite;
	animation: snow 10s linear infinite;
}
@keyframes snow {
  0% {background-position: 0px 0px, 0px 0px, 0px 0px;}
  50% {background-position: 500px 500px, 100px 200px, -100px 150px;}
  100% {background-position: 500px 1000px, 200px 400px, -100px 300px;}
}
@-moz-keyframes snow {
  0% {background-position: 0px 0px, 0px 0px, 0px 0px;}
  50% {background-position: 500px 500px, 100px 200px, -100px 150px;}
  100% {background-position: 400px 1000px, 200px 400px, 100px 300px;}
}
@-webkit-keyframes snow {
  0% {background-position: 0px 0px, 0px 0px, 0px 0px;}
  50% {background-position: 500px 500px, 100px 200px, -100px 150px;}
  100% {background-position: 500px 1000px, 200px 400px, -100px 300px;}
}
@-ms-keyframes snow {
  0% {background-position: 0px 0px, 0px 0px, 0px 0px;}
  50% {background-position: 500px 500px, 100px 200px, -100px 150px;}
  100% {background-position: 500px 1000px, 200px 400px, -100px 300px;}
